<h1><%= @article.title%></h1>
<p><%= @article.body%></p>
<%= link_to "Back to articles", articles_path %>
<%= link_to "Delete the article", article_path(@article), method: :delete, data: { confirm: "Do you really want to delete the article?" } %>
<%= link_to "Edit the article", edit_article_path(@article) %>